$blue: #3299BB;
$orange: #FF9900;
$grey-lt: #E9E9E9;
$grey-md: #BCBCBC;
$grey-dk: #424242;


body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.375;
  background-color: $grey-lt;
  color: $grey-dk;
}

.wrapper {
  max-width: 1200px;
  width: 96%;
  margin: 2em auto;
  padding: 1em;
  background: lighten($grey-lt, 10%);
  border: 1px solid darken($grey-lt, 5%);
  @include border-radius(5px);
}

#{headings()} {
  line-height: 1.15;
}


#{headings(1,2)} {
  font-family: 'Tungsten Narrow A', 'Tungsten Narrow B', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

#{headings(1,3)} {
  color: darken($grey-dk, 10%);
}

#{headings(3,6)} {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 1em 0;
}

#{headings(4,6)} {
  color: lighten($grey-dk, 10%);
}

h1 {
  font-size: 3.5em;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.375em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 1em 0;
  max-width: 60em;
}

strong, b {
  font-weight: 600;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }

  h1 {
    color: $blue;
  }
}

.caption {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  width: 100%;
  text-align: center;
  font-family: 'Tungsten Narrow A', 'Tungsten Narrow B', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
}
