$blue: #006DAF;
$orange: #FF9900;
$grey-lt: #E9E9E9;
$grey-md: #BCBCBC;
$grey-dk: #424242;
$white: #F6F6F6;

$red-dk: #990100;

$whitney: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;
$tungsten: 'Tungsten Narrow A', 'Tungsten Narrow B', sans-serif;
